/*
style for application
*/

body {
  margin-top:50px;
}

.navbar .brand {
  margin-left: 5px;
  margin-top: 2px;
}

.navbar form {
  margin-top: 5px;
  margin-bottom: 0px;
}

#menu1 .btn{
  margin-top: 5px;
}

.clear {
  clear:both;
}

.focus {
  border: thin #eeeeee solid;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.display-none {
  display:none;
}

#in {
  width:80%
  margin:5px;
  padding:5px
  height:500px;
}

.alert {
  margin:5px 5px;
 }

.alert .close {
  float: left;
  right: 0px;
 }